body{
  margin: 0;
  padding:0;
  box-sizing : border-box;
  background-color: rgb(65, 65, 65);
  color:#fff;
}

.container {
  width: 100%;
  padding: 1em;
  text-align: center;
}

.flex {
  min-height : 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items : center;
  flex-wrap : wrap;
}

.box {
  margin: 1em;
  min-width: 200px;
  border-radius: 10px;
  color:#000;
}

.box.confirmed {
  padding: 0.5em;
  background-color: #e6983f;
}

.box.recovered {
  padding: 0.5em;
  background-color: rgb(101, 148, 236);

}

.box.deaths {
  padding: 0.5em;
  background-color: rgb(207, 53, 53);
}

.box.country.confirmed {
  padding: 0.5em;
  background-color: #e99f4b;
}

.box.country.recovered {
  padding: 0.5em;
  background-color: rgb(101, 148, 236);

}s

.box.country.deaths {
  padding: 0.5em;
  background-color: rgb(194, 69, 69);
}

@media screen and (min-width : 800px) {
  .flex {
    flex-wrap : nowrap;
  }

  .box {
    max-width: 300px;
    line-height : 1.5;
    font-size : 2em;
  }
}

select {
  height: 3vh;
  font-size: 1em;
}